@model MainModel
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@{
    var notes = Model.notes;
    var notebooks = Model.notebooks;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b403799967.js" crossorigin="anonymous"></script>

    @*Tiny textarea editor*@
    <script src="https://cdn.tiny.cloud/1/c3gl9ppgkjc3q6qxwpfikm8177a229yn806h1kiftdkxv52d/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Ссылка на главную страницу-->
        <a class="navbar-new-diary ps-3 mt-2" asp-action="Main" asp-controller="Home"><img src="~/img/Logo.png" /></a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">


                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" asp-action="Main" asp-controller="Home">  @*Main page*@
                            <img src="~/img/icons/home.png" class="new-diary-icons" />
                            Main
                        </a>
                        <a class="nav-link" asp-action="Notes" asp-controller="Home">  @*Notes page*@
                            <img src="~/img/icons/sticky-notes.png" class="new-diary-icons" /> 
                            All notes
                        </a>
                        <a class="nav-link" asp-action="Notebooks" asp-controller="Home">  @*Notebooks page*@
                            <img src="~/img/icons/book.png" class="new-diary-icons" />
                            All notebooks
                        </a>


                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <img src="~/img/icons/notes.png" class="new-diary-icons" />
                            Notes
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @foreach (var note in Model.notes)
                                {
                                <a class="nav-link" asp-action="Notes" asp-controller="Home" asp-route-noteId="@note.Id">
                                    <img src="~/img/icons/note.png" class="new-diary-icons" />
                                    @note.Title
                                </a>
                                }                                
                                <a class="nav-link" asp-action="NoteCreation" asp-controller="Home">                                    
                                    <p class="text-success">
                                        <img src="~/img/icons/add_note.png" class="new-diary-icons" />
                                        Create new note
                                    </p>
                                </a>
                            </nav>
                        </div>


                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <img src="~/img/icons/books.png" class="new-diary-icons" />
                            Notebooks
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">

                                @foreach(var notebook in Model.notebooks)
                                {
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        <img src="~/img/icons/notebook.png" class="new-diary-icons" />
                                        NotebookName1
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="#"><img src="~/img/icons/note.png" class="new-diary-icons" />Note1</a>
                                            <a class="nav-link" href="#"><img src="~/img/icons/note.png" class="new-diary-icons" />Note2</a>
                                            <a class="nav-link" href="#"><img src="~/img/icons/note.png" class="new-diary-icons" />Note3</a>
                                        </nav>
                                    </div>
                                }                                
                                <a class="nav-link" asp-action="NotebookCreation" asp-controller="Home">
                                    <p class="text-success">
                                        <img src="~/img/icons/add_notebook.png" class="new-diary-icons" />
                                        Add notebook
                                    </p>
                                </a>                                
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    <img class="new-diary-avatar me-1" alt="UserImg" src="@Url.Action("GetUserPicture", "Home",
                        new { id = @User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).ToString() })"/>               
                        @User.Identity.Name
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                
                    @RenderBody()
                
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/demo/chart-area-demo.js"></script>
    <script src="~/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>

    @*Tiny textarea script*@
    <script>

        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });



    </script>
</body>
</html>
